<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Product Page - Admin HTML Template</title>

  <%- include('comp/header-links') %>

</head>

<body id="reportsPage">

  <%- include('comp/navbar') %>

    <div class="container mt-5">

      <div class="row tm-content-row mb-5">
        <div class="col-12 tm-block-col">
          <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
            <h2 class="tm-block-title">Searching Product</h2>
            <input class="form-control" type="text" name="productSearch" id="productSearch"
              placeholder="Search Product by Their Name">
          </div>
        </div>
      </div>

      <div class="row tm-content-row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 tm-block-col">
          <div class="tm-bg-primary-dark tm-block tm-block-products">
            <div class="tm-product-table-container">
              <table class="table table-hover tm-table-small tm-product-table">
                <thead class="mb-3">
                  <tr style="text-align: center;">
                    <th scope="col">&nbsp;</th>
                    <th scope="col">PRODUCT IMAGE</th>
                    <th scope="col">PRODUCT NAME</th>
                    <th scope="col">PRICE</th>
                    <th scope="col">STOCK</th>
                    <th scope="col">EXPIRE DATE</th>
                    <th scope="col">&nbsp;</th>
                  </tr>
                </thead>
                <tbody class="mt-3">

                </tbody>
              </table>
            </div>
            
            <!-- table container -->
            <a href="/products/add" class="btn btn-primary btn-block text-uppercase mb-3 rounded">Add new product</a>

            <form id="deleteForm" action="/products/deleteAll" method="post">
              <input type="text" name="productIds" id="productIdsInput" hidden />
              <button type="submit" class="btn btn-primary btn-block text-uppercase deleteAll rounded">
                Delete selected products
              </button>
            </form>
          </div>
        </div>
        <!-- <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 tm-block-col">
          <div class="tm-bg-primary-dark tm-block tm-block-product-categories">
            <h2 class="tm-block-title">Product Categories</h2>
            <div class="tm-product-table-container">
              <table class="table tm-table-small tm-product-table">
                <tbody>
                  <tr>
                    <td class="tm-product-name">Product Category 1</td>
                    <td class="text-center">
                      <a href="#" class="tm-product-delete-link">
                        <i class="far fa-trash-alt tm-product-delete-icon"></i>
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td class="tm-product-name">Product Category 2</td>
                    <td class="text-center">
                      <a href="#" class="tm-product-delete-link">
                        <i class="far fa-trash-alt tm-product-delete-icon"></i>
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td class="tm-product-name">Product Category 3</td>
                    <td class="text-center">
                      <a href="#" class="tm-product-delete-link">
                        <i class="far fa-trash-alt tm-product-delete-icon"></i>
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td class="tm-product-name">Product Category 4</td>
                    <td class="text-center">
                      <a href="#" class="tm-product-delete-link">
                        <i class="far fa-trash-alt tm-product-delete-icon"></i>
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td class="tm-product-name">Product Category 5</td>
                    <td class="text-center">
                      <a href="#" class="tm-product-delete-link">
                        <i class="far fa-trash-alt tm-product-delete-icon"></i>
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td class="tm-product-name">Product Category 6</td>
                    <td class="text-center">
                      <a href="#" class="tm-product-delete-link">
                        <i class="far fa-trash-alt tm-product-delete-icon"></i>
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td class="tm-product-name">Product Category 7</td>
                    <td class="text-center">
                      <a href="#" class="tm-product-delete-link">
                        <i class="far fa-trash-alt tm-product-delete-icon"></i>
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td class="tm-product-name">Product Category 8</td>
                    <td class="text-center">
                      <a href="#" class="tm-product-delete-link">
                        <i class="far fa-trash-alt tm-product-delete-icon"></i>
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td class="tm-product-name">Product Category 9</td>
                    <td class="text-center">
                      <a href="#" class="tm-product-delete-link">
                        <i class="far fa-trash-alt tm-product-delete-icon"></i>
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td class="tm-product-name">Product Category 10</td>
                    <td class="text-center">
                      <a href="#" class="tm-product-delete-link">
                        <i class="far fa-trash-alt tm-product-delete-icon"></i>
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td class="tm-product-name">Product Category 11</td>
                    <td class="text-center">
                      <a href="#" class="tm-product-delete-link">
                        <i class="far fa-trash-alt tm-product-delete-icon"></i>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            
            <a class="btn btn-primary btn-block text-uppercase mb-3" style="color: white;">
              Add new category
            </a>
          </div>
        </div> -->
      </div>
    </div>

    <%- include('comp/footer-links') %>

      <script>
        document.addEventListener("DOMContentLoaded", function () {

          const searchInput = document.getElementById("productSearch");
          const tableBody = document.querySelector(".tm-product-table tbody");
          var products = <%- JSON.stringify(products) %> || [];

          if(products.length > 0){
            products.forEach(product => {
              tableBody.innerHTML += `
                <tr style="text-align: center; vertical-align: middle;">
                  <th scope="row"><input type="checkbox" class="product-checkbox" data-id="${product._id}" /></th>
                  <td class="tm-product-name">
                    <img src="../${product.productImage || '../assets/img/product-image.jpg'}" alt="${product.pname}" height="80">  
                  </td>
                  <td class="tm-product-name">${product.pname}</td>
                  <td>${product.price}</td>
                  <td>${product.stock}</td>
                  <td>${new Date(product.expireDate).toLocaleDateString('en-GB')}</td>
                  <td>
                    <a href="/products/edit/${product._id}" class="tm-product-delete-link" style="margin-right: 10px;color: white;">
                      <i class="fas fa-edit"></i>
                    </a>
                    <a href="/products/delete/${product._id}" class="tm-product-delete-link">
                      <i class="far fa-trash-alt tm-product-delete-icon"></i>
                    </a>
                  </td>
                </tr>`
            });
          } else {
            tableBody.innerHTML = `<tr><td colspan="7" style="text-align: center;">No Product Available.</td></tr>`;
          }

          searchInput.addEventListener("keyup", function(){

            const query = searchInput.value.toLowerCase().trim();

            let filteredProducts = products.filter(product =>
              product.pname.toLowerCase().includes(query)
            );

            tableBody.innerHTML = "";

            if(filteredProducts.length === 0){
              tableBody.innerHTML = `<tr><td colspan="7" style="text-align: center;">No Product Available.</td></tr>`;
              return;
            }

            filteredProducts.forEach(product => {
              tableBody.innerHTML += `
                <tr style="text-align: center; vertical-align: middle;">
                  <th scope="row"><input type="checkbox" class="product-checkbox" data-id="${product._id}" /></th>
                  <td class="tm-product-name">
                    <img src="../${product.productImage || '../assets/img/product-image.jpg'}" alt="${product.pname}" height="80">  
                  </td>
                  <td class="tm-product-name">${product.pname}</td>
                  <td>${product.price}</td>
                  <td>${product.stock}</td>
                  <td>${new Date(product.expireDate).toLocaleDateString('en-GB')}</td>
                  <td>
                    <a href="/products/edit/${product._id}" class="tm-product-delete-link" style="margin-right: 10px;color: white;">
                      <i class="fas fa-edit"></i>
                    </a>
                    <a href="/products/delete/${product._id}" class="tm-product-delete-link">
                      <i class="far fa-trash-alt tm-product-delete-icon"></i>
                    </a>
                  </td>
                </tr>`
            });
          });

          let selectedProductIds = []; 
          const checkboxes = document.querySelectorAll(".product-checkbox");
          const productIdsInput = document.getElementById("productIdsInput");
          const deleteForm = document.getElementById("deleteForm");

          function updateSelectedProducts(){

            selectedProductIds = Array.from(document.querySelectorAll(".product-checkbox:checked")).map(checkbox => checkbox.getAttribute("data-id"));
            
            productIdsInput.value = selectedProductIds.join(" ");
          }

          checkboxes.forEach(checkbox => {

            checkbox.addEventListener("change", updateSelectedProducts);
          });

          deleteForm.addEventListener("submit", function(event){

            if(selectedProductIds.length === 0){

              event.preventDefault();
              alert("Please select at least one product to delete.");
            }
          });

          productIdsInput.innerHTML = "";

        });
      </script>

</body>

</html>